@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dancing+Script:wght@400..700&family=Limelight&family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    --primary-light: rgb(225, 225, 225);
    --primary-dark: rgb(30, 30, 30);
}

body {
    --primary-font-color: white;
    --bg-color: rgb(25, 25, 25);
    --nav-bg: linear-gradient(to bottom, rgba(25, 25, 25, 1) 0%, rgba(25, 25, 25, .7)  65%, rgba(25, 25, 25, 0) 100%);
    --img-bg: rgba(255, 255, 255, .16);
    --tile-bg: rgb(32, 32, 32);
    --tile-shade: black;
}

body.theme_light {
    --primary-font-color: black;
    --bg-color: rgb(225, 225, 225);
    --nav-bg: linear-gradient(to bottom, rgba(225, 225, 225, 1) 0%, rgba(225, 225, 225, .7)  65%, rgba(225, 225, 225, 0) 100%);
    --img-bg: rgba(0, 0, 0, .1);
    --tile-bg: rgb(235, 235, 235);
    --tile-shade: white;
}

body {
    background: var(--bg-color);
}

img {
    height: 40px;
}

main {
    width: 90%;
    display: block;
    margin: auto;
}

h2, h3 {
    font-family: 'Varela Round', serif;

}

* {
    color: var(--primary-font-color);
}

.picture {
    display: none;
}

.print-download {
    display: none;
}

.print-download-mobile {
    width: 100%;
    margin: 30px auto 20px;
    display: flex;
    justify-content: center;
}

main {
    margin-top: 120px;
}

.print, .download {
    width: 150px !important;
    height: 38px !important;
    background: grey;
    margin-right: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    place-items: center;
    transition-duration: .3s;
}

a {
    text-decoration: none;
}

.profile {
    margin-top: 100px;
}

.print:hover, .download:hover {
    cursor: pointer;
    background: darkgrey;
    transition-duration: .3s;
}

.print img, .download img {
    margin-right: 5px;
    width: 20px;
}

* {
    margin: 0;
    padding: 0;
}

.picture-mobile img {
    fill: var(--primary-font-color);
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: white;
    object-fit: contain;
    margin-bottom: 20px;
}

p, li, h4 {
    font-family: "Gill Sans MT", serif;
}

.picture-mobile {
    text-align: center;
}

.profile p {
    text-align: justify;
}
section {
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
}
.top {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

@media screen and (min-width: 500px){
    main {
        width: 80%;
    }
}

@media screen and (min-width: 600px){
    main {
        width: 70%;
    }
}

.contact {
    display: none;
}

ul {
    list-style: none;
}

.contact-mobile {
    margin-bottom: 20px;
}

.contact-mobile ul{
    display: flex;
    flex-direction: row;
    place-content: space-between;
    width: 60%;
    margin: auto;
}

.contact-mobile img {
    height: 50px;
}

.skills {
    display: flex;
    flex-direction: row;
}

.locationImg {
    display: none;
}

nav .content{
    display: flex;
    height: 70px;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100vw;
    box-shadow: none;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 1;
    transition-duration: .3s;
}

nav .logo {
    transform: rotate(-3deg);
    font-size: 1rem;
}

.options {
    align-items: center;
    gap: 30px;
}

.theme {
    text-align: center;
}

.theme:hover {
    cursor: pointer;
}

.theme img {
    height: 30px;
}

nav .options a:hover::after {
    width: 100%;
    transition: width .5s;
}

/*blue underline when hovering over options*/
nav .options a::after {
    display: block;
    position: relative;
    top: 1px;
    box-sizing: border-box;
    content: '';
    width: 0;
    height: 4px;
    background: royalblue;
    border-radius: 16px;
}

.flex {
    display: flex;
}

h2 {
    margin-bottom: 10px;
}

.date {
    color: royalblue;
    margin-bottom: 10px;
}

.blue_bg {
    display: none;
}

.languages ul {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}

h3 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.languages li {
    width: 28%;
    display: flex;
    flex-direction: column;
    background: lightsteelblue;
    padding: 5px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.skills ul {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}

.skills li {
    width: 28% !important;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
    background: lightsteelblue;
    padding: 5px;
    border-radius: 8px;
}

.skills {
    display: block;
}

.skills h4 {
    margin-bottom: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    margin-bottom: 15px;
}

body {
    padding-bottom: 100px;
    position: relative;
}