@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dancing+Script:wght@400..700&family=Limelight&family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Varela+Round&display=swap');

/* ROOT VARS & GLOBAL*/
:root {
    font-size: 62.5%;
    --main-width-s: min(calc(992px * .8), 90%);
    --main-width-m: min(calc(1200px * .7), 80%);
    --main-width-l: 70%;
    --main-width-xl: 950px;
}

body {
    position: relative;
    width: 100% !important;
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary-font-color);
}

body {
    background: var(--bg-color);
}

/* DARK AND LIGHT THEME */

body {
    --primary-font-color: white;
    --bg-color: rgb(25, 25, 25);
    --nav-bg: linear-gradient(to bottom, rgba(25, 25, 25, 1) 0%, rgba(25, 25, 25, .7)  65%, rgba(25, 25, 25, 0) 100%);
    --img-bg: rgba(255, 255, 255, .16);
    --tile-bg: rgb(32, 32, 32);
    --tile-shade: black;
}

body.theme_light {
    --primary-font-color: black;
    --bg-color: rgb(225, 225, 225);
    --nav-bg: linear-gradient(to bottom, rgba(225, 225, 225, 1) 0%, rgba(225, 225, 225, .7)  65%, rgba(225, 225, 225, 0) 100%);
    --img-bg: rgba(0, 0, 0, .1);
    --tile-bg: rgb(235, 235, 235);
    --tile-shade: white;
}


/* GENERAL */
.medium-fs {
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}
h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h1, h2, h3, nav a, .title a{
    font-family: 'Varela Round', serif;
}

p, li {
    line-height: 1.5;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

/*HELPER CLASSES*/
.pos-rel {
    position: relative;
}

.font-londrina {
    font-family: 'Londrina Outline', serif;
}

.font-dancing {
    font-family: 'Dancing Script',serif;
}

.gold {
    color: palegoldenrod;
}

.royalblue {
    color: royalblue;
}

.bold {
    font-weight: 700;
}

.no-decoration {
    text-decoration: none;
}

.flex {
     display: flex;
 }

.darkgrey {
    color: darkgrey;
}

main {
    width: var(--main-width-s);
    padding: 100px 0 30px;
    margin: auto;
}

/* -------------------------------------------------------------------
                            NAVBAR
------------------------------------------------------------------- */

nav .content{
    height: 70px;
    margin: auto;
    width: var(--main-width-s);
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100vw;
    box-shadow: none;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 1;
    transition-duration: .3s;
}

nav .logo {
    transform: rotate(-3deg);
    font-size: 3rem;
}

.options {
    align-items: center;
    gap: 30px;
}

.theme {
    text-align: center;
}

.theme:hover {
    cursor: pointer;
}

.theme img {
    height: 30px;
}

nav .options a:hover::after {
    width: 100%;
    transition: width .5s;
}

/*blue underline when hovering over options*/
nav .options a::after {
    display: block;
    position: relative;
    top: 1px;
    box-sizing: border-box;
    content: '';
    width: 0;
    height: 4px;
    background: royalblue;
    border-radius: 16px;
}

/* -------------------------------------------------------------------
                            BODY / LAYOUT
------------------------------------------------------------------- */

.image {
    display: none;
}

/* -------------------------------------------------------------------
                            MAIN
------------------------------------------------------------------- */

.info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 200px !important;
    display: grid;
    row-gap: 30px;
    grid-template-rows: repeat(3, auto);
}

.info .more {
    place-self: center;
    width: 90%;
}

.info h1 {
    text-align: center;
    font-size: 27rem;
    line-height: .9;
    letter-spacing: 10px;
    font-weight: normal;
    text-shadow: 5px 5px 5px royalblue;
}

/*SOCIAL MEDIA DIV  */


.social_media img:hover {
    transform: scale(1.05);
    transition-duration: .4s;
}

/* IMAGE */

.image {
    border-radius: 50%;
    height: 240px;
    width: 240px;
    grid-column: 2;
    grid-row: 1/4;
    place-self: center;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    background: var(--img-bg);
}

.image img{
    height: 240px;
}

/* -------------------------------------------------------------------
                            PROJECTS
------------------------------------------------------------------- */

.project-tile:hover {
    transform: scale(1.01);
    transition-duration: .4s;
}

.description {
    margin-top: 10px;
    font-size: 1.6rem;
}

.projects {
    margin-bottom: 20px;
    display: grid;
    place-content: space-around !important;
    grid-template-columns: repeat(1, minmax(0,1fr));
    gap: 20px;
}

.date {
    font-size: 1.2rem;
}

.project-tile h2 {
    height: min-content;
    margin-bottom: 3px;
}

/* -------------------------------------------------------------------
                            MAIN SECTION
------------------------------------------------------------------- */
.date p{
    font-size: 1.4rem;
    color: var(--date-color);
}

.projects .project-tile {
    box-shadow: .5rem 1rem 1.5rem var(--tile-shade);
}

.project-tile {
    background: var(--tile-bg);
    border: 1px solid dodgerblue;
    display: grid;
    border-radius: 6px;
    transition-duration: .4s;
    padding: 15px;
}

.projects a {
    font-size: 1.9rem;
}

.social_media {
    place-self: center;
    width: min-content;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    grid-column: 1;
}

.social_media img{
    height: 70px;
    transition-duration: .4s;
}

.social_media img:hover {
    transform: scale(1.05);
    transition-duration: .4s;
}

.title a:hover {
    text-decoration: underline;
}

.image {
    overflow: hidden;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    grid-column: 2;
    grid-row: 1/4;
    object-fit: cover;
    text-align: center;
    background: var(--img-bg);
}

.more {
    font-size: 1.6rem;
    width: fit-content;
    grid-column: 1/2;
    margin-bottom: 30px;
    margin-top: 20px;
}

main {
    max-width: 95vw !important;
}

.greeting{
    width: auto;
    max-width: 90vw;
    line-height: 1;
    color: royalblue;
    font-size: 13rem;
    font-family: 'Londrina Outline', serif;
    text-shadow:  5px 5px 5px royalblue;
}

.welcome {
    column-gap: 50px;
    text-align: center;
    height: min-content;
    display: grid;
    margin: auto auto 80px;
}

/*MONITOR*/
@media screen and (min-width: 1400px){

    .project-tile {
        height: min(200px, auto);
    }

    .info h1 {
        width: fit-content; /*to align social media in center of text (via js)*/
        font-size: 13rem;
        font-weight: normal;
        text-shadow: 5px 5px 5px royalblue;
    }
}

/*FOOTER*/

main {
    margin: auto;
    position: relative !important;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

/* -------------------------------------------------------------------
                            BLOG POST
------------------------------------------------------------------- */

.content p {
    line-height: 1.8;
    font-size: 1.5rem;
}

/* Table of Contents */
.toc li {
    line-height: 1.8;

    font-size: 1.5rem;
}

h2 {
    font-size: 2rem !important;
}

.toc {
    margin-bottom: 100px;
}
.toc ul{
    border-left: 2px dashed dimgrey;
    list-style: none;
    height: 0;
    display: none;
}

.toc.visible ul {
    padding-left: 30px;
    height: fit-content;
    display: block;
}

.toc h2 {
    padding: 10px;
    margin-top: 60px;
    background: saddlebrown;
    border-radius: 15px;
}

.toc li{
}

.toc li.h2 {
    margin-left: 10px;
}

.blog_content {
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.header-screen {
    display: none;
}

.blog_content p {
    margin-bottom: 40px;
}

@media screen and (min-width: 1000px){
    .toc ul {
        display: block;
        height: fit-content;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header-screen {
        display: block;
    }

    .toc h2 {
        display: none;
    }

    .header-mobile {
        display: none;
    }

    .toc {
        grid-column: 2;
        place-self: flex-start;
        position: sticky;
        top: 190px;
    }

    .blog_content {
        grid-row: 1;
    }

    main {
        display: grid;
        column-gap: 170px;
    }
}

main {
    min-height: 98vh !important;
}

/*BLOG LANDING PAGE*/


.blog-posts {
    place-content: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 15px;
}

.blog-posts > h3 {
    padding-left: 8px;
}

@media screen and (min-width: 620px){
    .projects {
        grid-template-columns: repeat(2, minmax(0,1fr));
    }

}

@media screen and (min-width: 768px){

    /*BODY / LAYOUT */
    main {
        width: var(--main-width-s);
    }

    /*NAV BAR */
    nav .content {
        width: var(--main-width-s);
    }
}

@media screen and (min-width: 992px){

    .projects {
        grid-template-columns: repeat(3, minmax(0,1fr));
    }

    /*BODY / LAYOUT */
    main {
        width: var(--main-width-m);
    }

    /*NAV BAR */
    nav .content {
        width: var(--main-width-m);
    }
}

@media screen and (min-width: 1200px){

    .image {
        display: block;
    }

    /*BODY / LAYOUT */
    main {
        width: var(--main-width-l);
    }

    /*NAV BAR */
    nav .content {
        width: var(--main-width-l);
    }
}

@media screen and (min-width: 1400px){

    /*BODY / LAYOUT */
    main {
        width: var(--main-width-xl);
    }

    /*NAV BAR */
    nav .content {
        width: var(--main-width-xl);
    }
}

.blog_post main {
    gap: 100px;
    width: 55% !important;
}

.blog_post img {
    display: flex;
    width: 70%;
    margin: 20px auto;
}

.blog_post table {
    border-spacing: 25px 8px;
    margin: 20px auto;
}

table th {
    border-bottom: 2px solid black;
}
.blog_post table {
    font-size: 12px;
}

tr {
    padding: 10px;
}

.blog_post .img_container {
    display: flex;
    gap: 20px;
}

