/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dancing+Script:wght@400..700&family=Limelight&family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* ROOT VARS & GLOBAL*/
:root {
    font-size: 62.5%; /* 1rem = 10px */
    --main-width-s: min(calc(992px * .8), 90%);
    --main-width-m: min(calc(1200px * .7), 80%);
    --main-width-l: 70%;
    --main-width-xl: 950px;
    --height-navbar: 100px;
    --height-footer: 50px
}

body {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: var(--primary-font-color);
}

body {
    background: var(--bg-color);
}

/* -------------------------------------------------------------------
                            THEMES
------------------------------------------------------------------- */

/*Dark (Default) theme */
body {
    --primary-font-color: white;
    --bg-color: rgb(25, 25, 25);
    --nav-bg: linear-gradient(to bottom, rgba(25, 25, 25, 1) 0%, rgba(25, 25, 25, .7)  65%, rgba(25, 25, 25, 0) 100%);
    --img-bg: rgba(255, 255, 255, .16);
    --tile-bg: rgb(32, 32, 32);
    --tile-shade: black;
}

/*light theme*/
body.theme_light {
    --primary-font-color: black;
    --bg-color: rgb(225, 225, 225);
    --nav-bg: linear-gradient(to bottom, rgba(225, 225, 225, 1) 0%, rgba(225, 225, 225, .7)  65%, rgba(225, 225, 225, 0) 100%);
    --img-bg: rgba(0, 0, 0, .1);
    --tile-bg: rgb(235, 235, 235);
    --tile-shade: white;
}

/* GENERAL */
h1 {
    font-size: 7rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

h1, h2, h3 {
    font-family: 'Varela Round', serif;
}

p, li {
    line-height: 1.5;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

/*HELPER CLASSES*/
.pos-rel {
    position: relative;
}

.font-londrina {
    font-family: 'Londrina Outline', serif;
}

.font-dancing {
    font-size: 2rem !important;
    font-family: 'Dancing Script',serif;
}

.col-gold {
    color: palegoldenrod;
}

.col-royalblue {
    color: royalblue;
}

.bold {
    font-weight: 700;
}

.no-decoration {
    text-decoration: none;
}

.flex {
    display: flex;
}

.col-darkgrey {
    color: darkgrey;
}

.h-center {

}

.center-text {
    text-align: center;
}

.lh-default {
    line-height: 1;
}

@media screen and (max-width: 992px){
    .no-display-small {
        display: none;
    }
}

.no-list-style {
    list-style: none;
}

.h-center {
    margin: auto;
    justify-self: center;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

/* -------------------------------------------------------------------
                            NAVBAR
------------------------------------------------------------------- */

nav .content{
    height: 70px;
    width: var(--main-width-s);
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 100vw;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    justify-content: center;
    z-index: 1;
    transition-duration: .3s;
}

nav .logo {
    transform: rotate(-3deg);
    font-size: 3rem;
}

.options {
    font-family: 'Varela Round', serif;
    font-size: 16px;
    align-items: center;
    gap: 30px;
}

.theme {
    text-align: center;
}

.theme:hover {
    cursor: pointer;
}

.theme img {
    height: 25px;
}

/*blue underline when hovering over options*/
nav .options a:hover::after {
    width: 100%;
    transition: width .5s;
}

nav .options a::after {
    display: block;
    position: relative;
    top: 1px;
    box-sizing: border-box;
    content: '';
    width: 0;
    height: 4px;
    background: royalblue;
    border-radius: 16px;
}

/* -------------------------------------------------------------------
                            INDEX PAGE
------------------------------------------------------------------- */

.projects-wrapper {
    margin-top: 70px;
}

#recent-projects {
    margin-left: 5px;
}

.social-media {
    margin-top: 30px;
    width: min-content;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.social-media img{
    height: 70px;
    transition-duration: .4s;
}

.social-media img:hover {
    transform: scale(1.05);
    transition-duration: .4s;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.image {
    overflow: hidden;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    grid-column: 2;
    grid-row: 1/4;
    object-fit: cover;
    text-align: center;
    background: var(--img-bg);
}

.image img{
    height: 240px;
}

.project-tile a:hover {
    transform: scale(1.01);
    transition-duration: .4s;
}

.description {
    margin-top: 10px;
    font-size: 1.6rem;
}

.projects {
    margin-bottom: 20px;
    display: grid;
    place-content: space-around !important;
    grid-template-columns: repeat(1, minmax(0,1fr));
    gap: 20px;
}

.date {
    font-size: 1.2rem;
}

.project-tile a h2 {
    height: min-content;
    margin-bottom: 3px;
}

/* -------------------------------------------------------------------
                            MAIN SECTION
------------------------------------------------------------------- */
.date p{
    color: var(--date-color);
}

.blog_content .date {
    margin-bottom: 10px;
}

.projects .project-tile {
    box-shadow: .5rem 1rem 1.5rem var(--tile-shade);
}

.project-tile {
    height: 100%;
    background: var(--tile-bg);
    border: 1px solid dodgerblue;
    display: grid;
    border-radius: 6px;
    transition-duration: .4s;
    padding: 15px;
}

.project-tile:hover .title {
    text-decoration: underline;
}


/* -------------------------------------------------------------------
                            MEDIA QUERIES
------------------------------------------------------------------- */

/*SMARTPHONE*/
main {
    width: var(--main-width-s);
    padding: calc(var(--height-navbar) + 20px) 0 var(--height-footer);
    margin: auto;
    min-height: 90vh;
    display: grid;
    place-content: center;
}

body {
    min-height: 100vh;
}

/*TABLET*/
@media screen and (min-width: 768px){
    main, nav .content{
        width: var(--main-width-s);
    }
}

/*LAPTOP*/
@media screen and (min-width: 992px){
    main, nav .content {
        width: var(--main-width-m);
    }

    .welcome {
        display: grid;
        place-items: center;
        height: min-content;
        column-gap: 40px;
    }
}

/*MONITOR*/
@media screen and (min-width: 1200px){
    main, nav .content {
        width: var(--main-width-l);
    }
}

@media screen and (min-width: 1400px){
    main, nav .content {
        width: var(--main-width-xl);
    }
}


/* -------------------------------------------------------------------
                            BLOG POST
------------------------------------------------------------------- */

.blog_post h1 {
    font-size: 3.5rem;
}

#titleImg {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

.blog_content{
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.content p {
    line-height: 1.8;
    font-size: 1.5rem;
}

.blog_content p {
    margin-bottom: 40px;
}

.header-screen {
    border-bottom: 1px solid grey;
    margin-bottom: 50px;
    display: block;
}

.blog-posts {
    place-content: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 15px;
}

.blog-posts > h3 {
    padding-left: 8px;
}

@media screen and (min-width: 620px){
    .projects {
        grid-template-columns: repeat(2, minmax(0,1fr));
    }

}

@media screen and (min-width: 992px){

    .projects {
        grid-template-columns: repeat(3, minmax(0,1fr));
    }

    /*NAV BAR */
    nav .content {
        width: var(--main-width-m);
    }
}

@media screen and (min-width: 1200px){

    .image {
        display: block;
    }

    /*NAV BAR */
    nav .content {
        width: var(--main-width-l);
    }
}

@media screen and (min-width: 1400px){


    /*NAV BAR */
    nav .content {
        width: var(--main-width-xl);
    }

    .blog_post main {
        gap: 100px;
        width: 40% !important;
    }
}





.blog_post p {
    text-align: justify;
}
.blog_post img {
    display: flex;
    width: 70%;
    margin: 20px auto;
}

.blog_post table {
    border-spacing: 25px 8px;
    margin: 20px auto;
}

table th {
    border-bottom: 2px solid black;
}
.blog_post table {
    font-size: 1.4rem;
}

tr {
    padding: 10px;
}

.blog_post .img_container {
    place-self: center;
    gap: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
}

.img_container img {
    width: 100%;
}

.blog_post .title {
    font-size: 3rem !important;
}

.blog_post p {
    font-size: 1.6rem;
    line-height: 1.6;
}

.blog_post li {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

