/*----------------------------------------------------------------------------------
Import Fonts
----------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&display=swap');
/*----------------------------------------------------------------------------------
Root Variables
----------------------------------------------------------------------------------*/

:root {
    scroll-behavior: smooth;
    font-size: 62.5%;
    --font-family: Raleway;
    --blog-font: 'Montserrat';
    --nav-bar-height: 60px;
    --section-title-margin: 70px;
    /*width of main content on the page relative to the full screen*/
    --main-width-smartphone: 90%;
    --main-width-screen: 80%;
    --main-width-largescreen: 1170px;
}


/*----------------------------------------------------------------------------------
general formatting
----------------------------------------------------------------------------------*/

body {
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "social-media";
}

body>#header {
    grid-area: nav;
}

body>main {
    grid-area: main;
}

body>#social-media-bar {
    grid-area: social-media;
}

#header,
main {
    width: 85%;
    margin: 0 auto;
}

section {
    align-content: center;
    min-height: 100vh;
    height: max-content;
    margin-bottom: 80px;
}

/*prevent the min-height from becoming larger than 1000px*/
@media screen and (min-height: 1111px) {
    section {
        min-height: auto !important;
    }
}

@media screen and (max-width: 767px) {
    #header {
        display: none;
    }
}

@media screen and (min-width: 576px) {

    main {
        min-width: calc(0.85*576px);
        width: 70%;
    }
}

@media screen and (min-width: 768px) {

    section {
        min-height: calc(100vh - var(--nav-bar-height));
    }

    #header,
    main {
        overflow: visible;
        width: 80%;
    }

    .section-title {
        text-align: left;
        justify-self: left;
    }
}

@media screen and (min-width: 992px) {

    /*larger titles for desktop screens*/
    h1 {
        font-size: 7rem !important;
    }

    h2 {
        font-size: 5rem !important;
    }
}

@media screen and (min-width: 1200px) {

    #header,
    main {
        min-width: calc(1200*0.8px);
        width: 70%;
    }
}

@media screen and (min-width: 1400px) {

    #header,
    main {
        min-width: calc(.75*1200px);
        width: 70%;
        max-width: 1170px;

    }
}

#background {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)),
        url('/assets/images/smartphone_background.jpeg');
    background-size: cover;
    position: fixed;
    z-index: -1;
}

@media screen and (min-device-width: 768px) {
    #background {
        background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('/assets/images/website_backround_1.jpg');
    }

}

section .title {
    text-align: center;
}

/*reset default CSS stylings*/
* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
li {
    color: white;
    font-family: var(--font-family);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 300;
}

/*categorical classes*/
.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.col-white {
    color: white;
}

.col-black {
    color: black;
}

.scale-in {
    transition: all .3s ease-in-out;

}

.scale-in:hover {
    transform: scale(1.015);
    transition: all .3s ease-in-out;
}


.section-title {
    font-family: Arial;
    text-align: center;
    justify-self: center;
    margin-bottom: var(--section-title-margin);
}

.subsection {
    margin-bottom: 50px;
}

.click-element {
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    border-bottom: 1.5px royalblue solid;
    transition-duration: .6s;
}

.click-element:hover {
    padding-left: 6px;
    background-color: rgba(91, 86, 86, 0.3);
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.full-size {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section>.title {
    margin-bottom: var(--section-title-margin);
}


/*----------------------------------------------------------------------------------
Start Page
----------------------------------------------------------------------------------*/
.start-page {
    display: grid;
    place-items: center;
    text-align: justify;
    max-height: 90vh;
    height: 90vh;
    min-height: 0;
    grid: repeat(2, minmax(0, 1fr)) / 100%;
}

.start-page .start-text h1 {
    text-align: center;
}

.start-page .start-text {
    grid-column: 1;
    grid-row: 2;
    animation: fadeInOnLoad cubic-bezier(.77, 0, .175, 1) .8s;
    z-index: 2;
}

.start-page .start-picture {
    max-width: 90%;
    animation: zoomInOnLoad 2s both;
    grid-column: 1;
    grid-row: 1 / span 2;
    opacity: .85 !important;
}

#explore-more {
    display: none;
    animation: fadeInOnLoad cubic-bezier(.77, 0, .175, 1) .6s both;
    animation-delay: 1.3s;
    transition-duration: .6s;
}

@media screen and (min-width: 768px) {

    #explore-more {
        display: inline-block;
    }

    .start-page {
        grid: 1fr / repeat(2, minmax(0, 1fr));
    }

    .start-page .start-text {
        grid-row: 1;
    }

    .start-page .start-text h1 {
        text-align: left;
    }

    .start-page .start-picture {
        max-width: 80%;
        justify-self: right;
        grid-column: 2;
        grid-row: 1 / span 2;
        opacity: .7 !important;
    }
}

/*----------------------------------------------------------------------------------
Section: Education and Career
----------------------------------------------------------------------------------*/
.education-and-career {
    display: grid;
    place-items: center;
    grid: repeat(4, auto) / 100%;
}

.education-and-career .subsection-title {
    width: 70%;
    margin: 20px auto;
    border-bottom: 1px solid royalblue;
    text-align: center;
}

.education-and-career .title {
    text-align: center;
}

.education-and-career .download-cv {
    display: none;
}

@media screen and (min-width: 768px) {
    .education-and-career {
        align-content: center;
        grid: repeat(3, auto) / 100%;
    }

    .education-and-career .title {
        grid-row: 1;
        grid-column: 1;
        justify-self: start;
        align-self: end;
        margin-bottom: var(--section-title-margin);
    }

    .education-and-career .download-cv {
        place-self: end;
        margin-bottom: var(--section-title-margin);
        grid-row: 1;
        grid-column: 1;
    }
}

/*----------------------------------------------------------------------------------
Subsection: Ecducation
----------------------------------------------------------------------------------*/
.university-grid {
    display: grid;
    gap: 40px;
}

.university {
    display: grid;
    place-items: center;
    text-align: center;
}

.university img {
    max-width: 55%;
    max-height: 90%;
}

.university .year {
    margin-top: 15px;
}

@media screen and (min-width: 768px) {

    .university-grid {
        width: 100%;
        grid: 1fr/ repeat(3, minmax(0, 1fr));
    }

    .university {
        grid: repeat(3, min-content) auto / 100%;
    }

    .university .year {
        margin-top: 0;
    }

    .university .description {
        margin-bottom: 20px;
    }

    .university img {
        grid-row: 4;
        max-width: 65%;
        align-self: center;
        height: auto;
    }
}

/*----------------------------------------------------------------------------------
Subsection: Career
----------------------------------------------------------------------------------*/

.career {
    width: 100%;
}

.arrow-container {
    position: relative;
}

.career-grid {
    display: grid;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    gap: 20px;
}

.career-grid::-webkit-scrollbar {
    display: none;
}

.career-item {
    --horiz-margin: 20px;
    display: grid;
    grid: min-content 1fr min-content / 100%;
    text-align: center;
    position: relative;
    scroll-snap-align: start;
}

.career-item .title {
    margin: var(--horiz-margin) auto;
    font-size: 3rem;
}

/* blue circle below entries*/
.career-item::after {
    content: "";
    width: 150px;
    height: 170px;
    opacity: 0.3;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px royalblue;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    background-color: royalblue;
    z-index: -1;
}

/*buttons to scroll left and right*/
.timeline-button {
    display: none;
    border: 1.5px solid royalblue;
    color: white;
    font-size: 4rem;
    place-content: center;
    place-items: center;
    position: absolute;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.timeline-button[class*="right"] {
    right: -60px;
}

.timeline-button[class*="left"] {
    left: -60px;
}

@media screen and (min-width: 768px) {

    .timeline-button {
        display: flex;
    }

    .career-grid {
        grid-auto-columns: calc((100% - 40px) / 3);
    }

    .timeline-button {
        display: flex;
    }

    .career-item .title {
        margin: 10px auto;
        font-size: 2rem;
    }
}

/*----------------------------------------------------------------------------------
Skills
----------------------------------------------------------------------------------*/

.skills {
    align-content: center;
    display: grid;
    grid: repeat(2, auto) / 100%;
    /*for positioning of the wheel*/
    position: relative;
}


.skills .rotating-wheel {
    width: 40vw;
    height: auto;
    position: absolute;
    top: 30%;
    right: -20%;
    z-index: -1;
}

.skills-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    gap: 40px;
}

.rotating-wheel {
    display: none;
    animation: rotation 40s linear infinite;
    filter: drop-shadow(4px 6px 10px royalblue);
    width: 100%;
}

.skill>.title {
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 25px;
    border-left: 1.5px solid royalblue;
    padding-left: 10px;
}

.skills-container .languages ul li,
.skills-container .coding ul li {
    display: grid;
    grid: repeat(2, 1fr) / 100%;
    gap: 8px;
    font-size: 18px;
}

/*add bars*/
.skills-container .expandBars li::after {
    animation: expandBars forwards 2s cubic-bezier(.77, 0, .175, 1);
}

.skills-container .expand li::after {
    content: '';
    border-radius: 10px;
    grid-row: 2;
    grid-column: 1;
    background-color: royalblue;
    width: var(--item-width);
    height: 10px;
    margin-bottom: 5px;
    z-index: 1;
    opacity: .8;
}

.skills-container .expand li::before {
    content: '';
    grid-row: 2;
    grid-column: 1;
    border-radius: 10px;
    background-color: darkgrey;
    height: 10px;
    opacity: .8;
    width: 100%;
    margin-bottom: 5px;
    z-index: 0;
}

.skills-container .further ul li {
    font-size: 20px;
    margin-bottom: 15px;
}

.skills-container .further ul {
    padding-left: 15px;
    list-style-position: outside;
}

@media screen and (min-width: 768px) {

    .skills-container {
        display: grid;
        grid: 1fr / repeat(3, minmax(0, 1fr));
    }

    .skills .rotating-wheel {
        width: 300px;
        top: 30px;
        right: -50px;
    }
}

/*----------------------------------------------------------------------------------
Recent Projects
----------------------------------------------------------------------------------*/

.recent-projects {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid: auto repeat(3, 200px) auto / 100%;
    gap: 3%;
    place-content: center;
}

.recent-projects .project-tile {
    /* relative for the shadow overlay*/
    position: relative;
    border-radius: 15px;
}

.project-tile {
    display: grid;
    grid: 1fr auto / 1fr;
}


.project-tile .background-image {
    grid-row: 1 / span 2;
    grid-column: 1;
    border-radius: 15px;
}

.project-title {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 5px;
    box-shadow: 12px 5px 12px rgba(65, 105, 225, .5);
    display: inline-block;
    grid-row: 2;
    grid-column: 1;
    color: black;
    margin: 15px;
    padding: 0 5px;
}

#explore-projects {
    grid-row: 5;
    place-self: center;
}

.project-tile::after {
    box-shadow: 0 0 12px rgba(255, 255, 255, .5);
    border-radius: 15px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all .3s cubic-bezier(.77, 0, .175, 1);
}

.project-tile:hover::after {
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.65) 15%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0) 100%);
}

@media screen and (min-width: 768px) {

    .recent-projects {
        grid: repeat(4, 120px) / repeat(2, minmax(0, 1fr));
        gap: 12px;
    }

    .recent-projects .section-title {
        color: white;
        place-self: center;
        margin: 0;
    }

    #project1 {
        grid-column: 1;
        grid-row: 1/ span 2;
    }

    #project2 {
        grid-column: 1;
        grid-row: 3/ span 2;
    }

    #project3 {
        grid-column: 2;
        grid-row: 2/ span 2;
    }

    #explore-projects {
        grid-column: 2;
        grid-row: 4;
    }
}

/*----------------------------------------------------------------------------------
get in touch
----------------------------------------------------------------------------------*/

.get-in-touch {
    display: grid;
    height: 70vh;
    min-height: auto;
    margin: 0;
    text-align: center;
}

.get-in-touch .text {
    font-size: 2rem;
    margin: auto auto;
    text-align: center;
    grid-row: 3;
    grid-column: 1;
}

.plane-fly {
    display: none;
    opacity: .6;
    width: 100%;
    height: auto;
    grid-row: 2 / span 3;
    grid-column: 1;
    z-index: -1;
}

@media only screen and (min-width: 768px) {
    .get-in-touch {
        width: 80%;
        display: grid;
        grid: auto / 1fr 1.5fr;
        text-align: center;
    }

    .get-in-touch .title {
        grid-column: 2;
    }

    .get-in-touch .text {
        grid-row: 2;
        grid-column: 2;
        border-bottom: 1.5px solid royalblue;
    }

    .plane-fly {
        display: inline-block;
        grid-row: 1 / span 2;
        grid-column: 1;
        z-index: -1;
    }
}

/*----------------------------------------------------------------------------------
navBar
----------------------------------------------------------------------------------*/

#header {
    position: sticky;
    height: var(--nav-bar-height);
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
}

.nav-bar {
    height: var(--nav-bar-height);
    z-index: 1;
}

.nav-buttons {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.nav-button {
    margin-left: 30px;
}

.nav-buttons a {
    transition: all .1s ease-in;
}

.nav-buttons #name {
    margin-right: auto;
}

.nav-buttons a:hover {
    color: royalblue;
}

/*----------------------------------------------------------------------------------
socialMediaBar
----------------------------------------------------------------------------------*/

.social-media-bar {
    background: linear-gradient(rgba(255, 255, 255, .4), white);
    opacity: .5;
    padding: 30px 0;
}

.social-media-bar .icons {
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid: auto/ repeat(3, 1fr);
    place-items: center;
}

.social-media-bar .download-cv {
    border-bottom: 2px solid royalblue;
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    place-content: center;
    place-items: center;
}

.social-media-bar .download-cv img {
    width: auto;
    height: 4rem;
}

.social-media-bar .download-cv p {
    font-size: 2.5rem;
    font-family: Permanent Marker;
}

.icons svg {
    margin-top: 15px;
    width: auto;
    height: 4rem;
}

.social-media-bar svg:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s ease-in-out;
    fill: rgb(22, 45, 115);
}

@media screen and (min-width: 992px) {
    .social-media-bar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 6%;
        grid-auto-flow: row;
        grid: 1fr 2fr 1fr / 1fr;
        padding: 3rem 0;
        place-items: center;
    }

    .social-media-bar .vertical-line {
        visibility: visible;
        grid-column: 1;
        width: 1px;
        height: 100%;
        background-color: rgb(44, 43, 43);
    }

    .social-media-bar .icons {
        grid-column: 1;
        grid-row: 2;
        display: grid;
        grid: repeat(3, 1fr) / 1fr;
        place-items: center;
        border-bottom: none;
    }

    .icons svg {
        fill: white;
        width: 100%;
        transform: scale(.5);
        height: auto;
    }

    .social-media-bar svg:hover {
        transform: scale(.6);
        transition: .3s ease-in-out;
        fill: rgb(22, 45, 115);
    }
}

/*********************************************************************************************

/*scrollDOT class*/
.scroll-box {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 40px auto;
}

/*on screen, its dots, on mobile phone its bars?*/
.scroll-dot {
    border-radius: 50%;
    height: 15px;
    border: grey solid 1px;
    width: 15px;
    opacity: .8;
    transition: all .2s ease-in;
}

.scroll-dot[class*="active"] {
    background-color: royalblue;
    opacity: 1;
}

/*********************************************************************************************
/* code block styling */
.code-block {
    border-radius: 1px;
}

.blue {
    color: royalblue;
    font-weight: 500;
}

/*overwrite default style for code blocks*/
code {
    white-space: pre-line !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 1.2rm !important;
    padding: 0 !important;
    background-color: rgb(92, 90, 90) !important;
    color: white !important;
    width: 60%;
    display: block;
    margin: 0 auto;
    padding: 0px;
    border-color: red;
}

.indent {
    display: block !important;
    margin-left: 10px !important;
}


/*-----------------------------------------------------------
Blogpost specific design elements
-----------------------------------------------------------*/
#date-written {
    text-align: left;
    font-weight: bold;
    color: royalblue;
    margin-bottom: 10px;
}

#report-title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 3.3rem;
}

#report-subtitle {
    margin-top: 0px;
    margin-bottom: 15px;
}

/*static formating*/
.project-post,
.project-post * {
    font-family: 'Montserrat';
    font-weight: 300;
    background-image: none;
}



main.project-post {
    display: block;
    text-align: left;
    margin: 0 auto;
}


/*image always displays full*/
.title-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/*smartphone*/
main.project-post {
    font-family: Arial;
    font-weight: var(--blog-font);
    display: block;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

/*tablet* (480 - 768 px) and up*/
@media only screen and (min-width: 480px) {

    main.project-post {
        max-width: 80%;
        min-width: 436px;
    }

}


/*larger computer (1024 - ... px) and up*/
@media screen and (min-width: 1024px) {

    main.project-post {
        max-width: 60%;
        min-width: 614.4px;
    }
}



















/*---------------------------------------
projects landing page styling
---------------------------------------*/
.projects .nav-bar {
    background: none;
    background-color: white;
    border-bottom: 1px solid grey;
}

.projects * {
    color: black;
}

.projects .section-title {
    align-self: baseline;
}

.projects main {
    margin: var(--nav-bar-height) 5%;
}

@media screen and (min-width: 1300px) {
    .project main {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.image-container {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.thumbnails {
    border-bottom: 1px solid grey;
    display: grid;
    place-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    --border-radius: 9px;
    column-gap: 3%;
}


.projects .title a:hover {
    text-decoration: underline;
    color: royalblue;
}

.projects img:hover {
    transform: scale(1.01);
}

.project-thumbnail {
    border-top: 1px solid grey;
    padding: 15px 0;
    display: grid;
    grid: minmax(auto, 200px) auto / 1fr;
}

/*below all posts solid grey line*/

.project-thumbnail .description {
    display: grid;
}

.project-thumbnail img {
    border-radius: var(--border-radius);
    place-self: center;
}

.project-thumbnail .image-container {
    margin-bottom: 20px;
}

.project-thumbnail .description .title {
    font-size: 24px;
    margin-bottom: 5px;
}



/**********************************************
Keyframe Animations
**********************************************/

/*description: in Section: */
@keyframes fadeInOnLoad {
    from {
        transform: translateY(100px);
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
}

/*description: in Section: */
@keyframes zoomInOnLoad {
    from {
        transform: scale(.5);
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: .6;
        transform: scale(1);
        visibility: visible;
    }
}

/*expansion of blue bars in Section: */
@keyframes expandBars {
    from {
        width: 0;
    }

    to {
        width: var(--item-width);
    }
}

/* rotation for the gear */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes flyIn {}

.fade-in {
    transform: translateY(100px);
}

.fadeIn {
    animation: fadeIn both 1.2s cubic-bezier(0.3, 0.42, 0.18, 1);
}

.flyIn {
    animation: flyIn 1.2s cubic-bezier(0.3, 0.42, 0.18, 1);
}


/*------------------------------------------------------------
Individual Posts styling 
-------------------------------------------------------------*/

/*change color of blogpost header once we get there --> Make body background variable ? */
.blog-post #header {
    background: none;
    background-color: #22272e;
    border-bottom: 1px solid grey;
}

/*fix this*/

.inverted {
    background-color: white !important;
    color: black !important;
}

.inverted * {
    color: black !important;
}

/*move this bit to the #header as well!*/
.blog-post .title-picture-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid: repeat(2, minmax(0, 1fr)) / 1fr;
    width: 70%;
    height: calc(115vh - var(--nav-bar-height));
    margin: 0 auto;
}

.blog-post .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-post .title-picture-container p {
    margin-top: 10px;
    color: #adbac7;
}

.blog-post .picture img {
    border-radius: 9px;
}

.blog-post .title-picture-container::after {
    display: block;
    content: "";

    margin-top: 20px;
    width: 100%;
}

.blog-post main p {
    color: black;
}

.post-header {
    position: relative;
    height: calc(115vh - var(--nav-bar-height));
    margin-bottom: 0;
}

.blog-post .background {
    height: calc(100vh - var(--nav-bar-height));
    background-color: #22272e;
}

.date-container {
    margin: 20px auto;
    width: 70%;
    border-bottom: 2px solid royalblue;
}

.font-black {
    color: black !important;
}

section .section-title {
    color: black;
    border-bottom: 1px rgb(162, 161, 161) solid;
}