/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* root depending on the screen size!*/
:root {
    scroll-behavior: smooth;
    /* relative font size adapts to browser settings --> 1em = 10px per default*/
    font-size: 62.5%;
    /*static variables*/
    --font-family: Arial, sans-serf;
    --scroll: 1;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 100rem;
    --transition: 0.3s;
    /*project variables*/
    --blog-font: 'Montserrat';
    --blog-font-weight: 500;
    --main-margin-width: 15%;
    --nav-bar-height: 60px;
}

/*----------------------------------------------------------------------------------
general formatting
----------------------------------------------------------------------------------*/

/*hover mouse symbol over links*/
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h1,
h2,
p,
a {
    color: white;
    font-family: var(--font-family);
}

/* font sizes (post-specific)*/
h1 {
    font-size: 5em;
}

h2 {
    font-size: 7em;
}

h3 {
    font-size: 2em;
    margin-top: 1em;
}

p {
    color: grey;
    font-size: 1.8em;
    /*does nto seem to work!*/
    font-weight: lighter;
    line-height: 1.4;
}

/*all children of main on the page are positioned relative to it*/
main {
    position: relative;
    /*dodge navbar and social media bar*/
    margin: calc(var(--nav-bar-height)) var(--main-margin-width);
    border: pink 10px solid;
}

body {
    border: red 5px solid;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(000, 000, 000, var(--scroll)), rgba(000, 000, 000, var(--scroll))),
        url('assets/images/smartphone_background.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media screen and (min-device-width: 480px) {
    body {
        background-image: linear-gradient(to bottom, rgba(000, 000, 000, var(--scroll)), rgba(000, 000, 000, var(--scroll))),
            url("/assets/images/website_backround_1.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

/*----------------------------------------------------------------------------------
welcomePage
----------------------------------------------------------------------------------*/

.my-career,
.my-education,
.start-page,
.projects,
.my-education,
.my-skills,
.get-in-touch {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.welcome-text {
    text-align: justify;
    width: 50%;
    animation: fadeInOnLoad cubic-bezier(.77, 0, .175, 1) .8s;
}

.start-picture {
    position: relative;
    width: 40%;
    margin-left: 10%;
    justify-content: center;
    display: flex;
}

.start-picture img {
    animation: zoomInOnLoad 2s both;
    width: 100%;
    height: auto;
}

.explore-more {
    position: relative;
    top: -10em;
    animation: fadeInOnLoad cubic-bezier(.77, 0, .175, 1) .6s both;
    animation-delay: 1.3s;
    transition-duration: .6s;
    margin-top: 5%;
    width: auto;
    border-bottom: 2px royalblue solid;
    padding-right: 15px;
}

.explore-more:hover {
    padding-left: 6px;
    background-color: rgba(91, 86, 86, 0.3);
}

.explore-more p {
    color: white;
}


/*----------------------------------------------------------------------------------
My Ecducation
----------------------------------------------------------------------------------*/

.my-education {
    height: 250px;
    margin-bottom: 50px;
}

.univerities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-education img {
    display: block;
    padding-bottom: 10px;
    margin: auto;
    justify-self: center;
    width: 70%;
    height: auto;
}

.university {
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
    height: auto;
    width: 32%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.university p {
    color: black;
    font-weight: bold;
    text-align: center;
}


/*----------------------------------------------------------------------------------
My Career
----------------------------------------------------------------------------------*/

.timeline-container {
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
}

.my-career .timeline-button {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    top: 50%;
    transform: translateY(-50%);
    background-color: green;
}

.right {
    right: -60px;
}

.left {
    left: -60px;
}

/*timeline container*/

/*hide scrollbar from timeline container*/
.timeline::-webkit-scrollbar {
    display: none;
    /*none */
}

.timeline {
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    position: relative;
    display: flex;
    flex-direction: row;
    border: yellow 5px solid;
    overflow-x: scroll;
    overflow-y: hidden;
}

.timeline-text {
    scroll-snap-align: start;
    flex: 0 0 25%;
    margin-right: 200;
    font-family: Arial;
    position: relative;
    top: 0;
    color: white;
    border: 2px red solid;
}

.timeline-text::after {
    content: "";
    width: 90px;
    height: 90px;
    opacity: 0.4;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background-color: royalblue;
}


.timeline h3 {
    font-size: 2.1em;
}

.year {
    position: relative;
    color: white;
    text-align: center;
}

/*----------------------------------------------------------------------------------
My Skills
----------------------------------------------------------------------------------*/

.my-skills {
    flex-direction: column;
    width: 100%;
}

.my-skills h1 {
    align-self: flex-start;
}

.skills-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.languages,
.other-skills {
    display: flex;
    flex-direction: column;
    width: 47%;
    position: relative;
}

.skill-title {
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
    border-left: 2px solid royalblue;
    padding-left: 10px;
}

.my-skills ul {
    list-style: none;
}

.my-skills ul li {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    color: white;
    font-size: 2em;
}

/*add bars*/
.my-skills ul li::after {
    content: '';
    border-radius: 10px;
    grid-row: 2;
    grid-column: 1;
    background-color: royalblue;
    height: 15px;
    width: 0;
    animation: expand-bars forwards 2s cubic-bezier(.77, 0, .175, 1);
    margin-bottom: 5px;
    z-index: 1;
    opacity: .8;
}

.my-skills ul li::before {
    content: '';
    grid-row: 2;
    grid-column: 1;
    border-radius: 10px;
    background-color: darkgrey;
    height: 15px;
    opacity: .8;
    width: 100%;
    margin-bottom: 5px;
    z-index: 0;
}

/*----------------------------------------------------------------------------------
Recent Projects
----------------------------------------------------------------------------------*/

.projects {
    border: red 10px solid;
}

.recent-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 500px;
    border: green dashed 10px;
    gap: 1em;
}

.project-tile {
    position: relative;
    border-radius: 15px;
    background-color: white;
}

#project1 {
    grid-column: 1;
    grid-row: 1/ span 2;
    background-image: url("assets/images/election_funding_image.jpg");
    background-size: cover;
}

#project2 {
    grid-column: 1;
    grid-row: 3/ span 2;
    background-image: url("assets/images/election_funding_image.jpg");
    background-size: cover;
}

#project3 {
    grid-column: 2;
    grid-row: 2/ span 2;
    background-image: url("assets/images/election_funding_image.jpg");
    background-size: cover;
}

#projects-title {
    align-self: center;
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
    color: white;
}

#explore-projects {
    grid-column: 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}


.project-tile::after {
    opacity: 0;
}

.project-tile::after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(.77, 0, .175, 1);
}

.project-tile:hover::after {
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.65) 15%, rgba(0, 0, 0, 0.5) 35%, rgba(0, 0, 0, 0) 100%);
}

/*----------------------------------------------------------------------------------
navBar
----------------------------------------------------------------------------------*/

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-bar-height);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
}

.nav-buttons {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0 var(--main-margin-width);
    height: 100%;
}

.nav-button {
    margin-left: 30px;
}

.nav-buttons #name {
    margin-right: auto;
    margin-left: 0;
}

.nav-buttons a:hover {
    color: royalblue;
    transition: color .3s ease-in;
}

/*----------------------------------------------------------------------------------
socialMediaBar
----------------------------------------------------------------------------------*/
.social-media-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100px;
    left: 0;
    top: 0;
    /* top: var(--nav-bar-height); */
    border: green dashed 5px;
    align-items: center;
    justify-content: space-around;
}

.social-media-bar .vertical-line {
    width: 2px;
    border-radius: 20px;
    background-color: grey;
    height: 15vh;
}

.social-media-bar .icon-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-items: center;
    position: relative;
    height: 40vh;
    border: pink 5px solid;
}

.social-media-bar .icon-list li {
    align-items: center;
    min-height: 0;
    display: flex;
    flex: 1;
    position: relative;
    border: blueviolet 2px dotted;
}

.social-media-bar svg {
    fill: white;
}

.social-media-bar svg:hover {
    transform: scale(.8);
    transition: .3s ease-in-out;
    fill: rgb(22, 45, 115);
}

/*----------------------------------------------------------------------------------
Timeline Page
----------------------------------------------------------------------------------*/

/*----------------------------------------------------------
Other
----------------------------------------------------------*/

/*should maybe do fade in only on smartphone! (just once after load or always*/
.fade-in {
    overflow: hidden;
    color: pink;
    opacity: 0;
    transform: translateY(100px);
    transition: transform .5s cubic-bezier(0.3, 0.42, 0.18, 1),
        opacity 1.5s cubic-bezier(0.42, 0.46, 1, 1);
}


/*reset default CSS stylings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* default spec (smartphone) */


a:hover,
button {
    cursor: pointer;
}

/* code block styling */
.code-block {
    border-radius: 1px;
}

.blue {
    color: royalblue;
    font-weight: 500;
}

/*overwrite default style for code blocks*/
code {
    white-space: pre-line !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 1.2rm !important;
    padding: 0 !important;
    background-color: rgb(92, 90, 90) !important;
    color: white !important;
    width: 60%;
    display: block;
    margin: 0 auto;
    padding: 0px;
    border-color: red;
}

.indent {
    display: block !important;
    margin-left: 10px !important;
}


/*-----------------------------------------------------------
Blogpost specific design elements
-----------------------------------------------------------*/
#date-written {
    text-align: left;
    font-weight: bold;
    color: royalblue;
    margin-bottom: 10px;
}

#report-title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 3.3em;
}

#report-subtitle {
    margin-top: 0px;
    margin-bottom: 15px;
}

/*static formating*/
.project-post,
.project-post * {
    font-family: 'Montserrat';
    font-weight: 300;
    background-image: none;
}



main.project-post {
    display: block;
    text-align: left;
    margin: 0 auto;
}


/*image always displays full*/
.title-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/*smartphone*/
main.project-post {
    font-family: Arial;
    font-weight: var(--blog-font);
    display: block;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

/*tablet* (480 - 768 px) and up*/
@media only screen and (min-width: 480px) {

    main.project-post {
        max-width: 80%;
        min-width: 436px;
    }

}

/*small computer (768 - 1024 px) and up*/

/*
@media only screen and (min-width: 768px) {

    main.project-post {
        max-width: 80%;
        min-width: 614.4px;
    }

.social-media-bar * {
    display: unset;
}

.social-media-bar .project-post .social-media svg {
    fill: black;
}

.project-post .social-media svg:hover {
    fill: royalblue;
}

}


/*larger computer (1024 - ... px) and up*/
@media screen and (min-width: 1024px) {

    main.project-post {
        max-width: 60%;
        min-width: 614.4px;
    }
}

/*---------------------------------------
projects landing page styling
---------------------------------------*/

/* project thumbnails layout*/
.project-thumbnail {
    margin: 1em auto;
    width: 95%;
    height: auto;
    position: relative;
}

.project-thumbnail img {
    display: block;
    width: 100%;
    height: 15em;
    margin: 0 auto 2em auto;
    object-fit: cover;
}

.project-thumbnail .description {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.project-thumbnail h2 {
    margin-bottom: .2em;
}

#title {
    position: relative;
    font-size: 3em;
    left: 2.5%;
}


hr.solid {
    border-top: .1em solid grey;
    width: 100%;
    height: 0;
    margin: 0 auto;
}

button {
    background-color: black;
    color: white;
    padding: 2px 2px;

}

/*tablet* (480 - 768 px) and up*/
@media only screen and (min-width: 480px) {
    .project-thumbnail {
        min-width: calc(0.95*480px);
        max-width: 75%;
    }

    .project-thumbnail img {
        display: flex;
        width: 40%;
        height: 20em;
        object-fit: cover;
    }

    .project-thumbnail img[class*="left"] {
        float: left;
        margin-right: 10px;
    }

    .project-thumbnail img[class*="right"] {
        float: right;
        margin-left: 10px;
    }

    .project-thumbnail.description {
        display: flex;
        width: 50%;
        float: auto;
    }
}

/*small computer (768 - 1024 px) and up*/
@media only screen and (min-width: 768px) {
    .project-thumbnail {
        min-width: calc(0.75*768)px;
        max-width: 60%;
    }

    .project-thumbnail img {
        display: flex;
        width: 40%;
        height: 20em;
        object-fit: cover;
    }

    .project-thumbnail img[class="left"] {
        float: left;
        margin-right: 10px;
    }

    .project-thumbnail img[class="right"] {
        float: right;
        margin-left: 10px;
    }

    .project-thumbnail.description {
        display: flex;
        width: 50%;
        float: auto;
    }
}


.plane-fly {
    opacity: .5;
    width: calc(244px*1.5);
    height: calc(152px*1.5);
    position: absolute;
    left: 40px;
    top: -20px;
    z-index: -1;
    visibility: 0;
}

/* adjust appearance of scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(38, 38, 144, .5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/**********************************************
Keyframe Animations
**********************************************/

/*description: in Section: */
@keyframes fadeInOnLoad {
    from {
        transform: translateY(100px);
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
}

/*description: in Section: */
@keyframes zoomInOnLoad {
    from {
        transform: scale(.5);
        opacity: 0;
        visibility: hidden;
    }

    to {
        opacity: .6;
        transform: scale(1);
        visibility: visible;
    }
}

/*expansion of blue bars in Section: */
@keyframes expand-bars {
    from {
        width: 0;
    }

    to {
        width: var(--item-width);
    }
}